@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "oswald";
    src: url(/public/fonts/Oswald-Regular.ttf);
  }
  @font-face {
    font-family: "Didact Gothic";
    src: url(/public/fonts/DidactGothic-Regular.ttf);
  }

  body {
    background-color: #272727;
    color: white;
  }
}

@layer utilities {
  .Drop-Down > ul {
    transition: all 150ms ease-in-out;
    transition-delay: 50ms;
    z-index: -99999;
    top: 200px;
    opacity: 0;
  }

  .Drop-Down:hover > ul {
    top: 40px;
    z-index: 10000;
    opacity: 100;
  }


}
